*{
    margin: 0;
}
body{
    background-color: #00a3ff;
}
.azrebi{
    color: black;
    background-color: #ffe500;
    padding: 20px 30px 25px 35px;
    margin-bottom: 100px;
}
.azrebi2{
    color: black;
    background-color: #d9d9d9;
    width: 500px;
    height: 100px;
    padding: 10px 50px 10px 50px;
    margin: 50px auto;
}
.azrebi3{
    color: black;
    background-color: #00b15c;
    width: 500px;
    height: 100px;
    padding: 10px 50px 10px 50px;
    margin: 50px auto ;
    border: solid 4px;
}
.azrebi4{
    color: black;
    background-color: #f500b1;
    width: 900px;
    height: 150px;
    margin: 100px auto;
    padding: 10px 50px;
    border: dashed 4px;
}
.mart{
    background-color: #820000;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.mart1{
    background-color: #ffe500;
    width: 400px;
    border: solid 2px;
}
